 <div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close"ng-click="$ctrl.closeModal()" >&times;</span>
                 <h2> עדכון הזמנה  </h2>
          </div>
          <div class="modal-body">
                <div style="width: 99%;"> 
                      <label>בחר מוצר </label>
                    <select class="select" id="items" name="items" ng-model="$ctrl.state.item_id">

                        <option  ng-repeat="row in $ctrl.rows" value={{row.item_id}}>{{row.item_name}}</option>
                             
                    </select>
                    <label>הזן כמות </label>
                    <input class="amount-inut" type="number"  ng-model="$ctrl.state.item_quantity" max="10" />
                </div>
                <div class="total" >
                      
                     <input type="button" ng-click="$ctrl.calcTotal()"  value="חישוב מחיר" style="margin-left: 5px;">
                    <input class="total-inut"  disabled type="text" value={{$ctrl.state.total_price}} ></input>

                </div>
          </div>
          <div class="modal-footer">
            <h3>Modal Footer</h3>
              <input class="button success" type="button" value="אישור" ng-click="$ctrl.cunfirm()">
              <input class="button danger" type="button" value="ביטול" ng-click="$ctrl.closeModal()">
              <input class="button" type="button" value="מחק הזמנה" ng-click="$ctrl.delete()" style="background-color: #da9b4c;">
          </div>
        </div>
 </div>

 
  

<style>
    .select{
        width:45%;
        margin-left: 5px;
        border: none;
        border-bottom:  1px solid #ab9696;;
    }
  .amount-inut{
      width: 35%;
      border: none;
      border-bottom: 1px solid #ab9696;
  }
  .total{
    display: flex;
    margin-top: 4%;
  }
.total-inut{
    width: 99%;
    text-align: center;
      border: none;
      border-bottom: 1px solid #ece0e0;   
}
.modal {
 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: darkcyan;
  color: white;
}

.modal-body {
    padding: 2px 16px;
    font-size: x-large;
    }

.modal-footer {
 color: aliceblue;
}
.button {
			position: relative;
			padding: 10px 30px;
			border-radius: 3px;
			font-size: 14px;
			font-weight: 400;
			color: white;
			text-transform: uppercase;
			overflow: hidden;   
}

.success {
	margin-right: 5px;
	background-color: #2ecc71;
}
   .danger {
	background-color:#e74c3c;
}
</style>